<nord-stack gap="l" class="info-page n-padding-i-l n-padding-b-l">
  <h1>Frequently Asked Questions</h1>

  <h2>Can I sell ships based on EGOTech blueprints?</h2>

  <p>No.</p>

  <h2>Can I share EGOTech blueprints?</h2>

  <p>For the free blueprints, you can share it with as many people as you want, just don't pass them off as your own.</p>

  <p>
    For blueprints that are purchased, the purchase only allows for the unlimited use for one person.
    If you wish to have a company or group license, please let me know and we can work something out.
  </p>

  <h2>Do I get access to future updates for blueprint purchases?</h2>

  <p>Yes. A blueprint purchase provides access to all future updates to the ship's blueprints.</p>

  <h2>How can I provide feedback?</h2>

  <p>I can be found in-game as Egomaniac and on discord as @vinteo81 (vinteo#4211). Feel free to contact me and provide feedback or if you need help.</p>

  <p>You can also join the community at the EGOTech Discord server.</p>

  <a href="https://discord.gg/BKwVGvncmN">
    <img alt="EGOTech Discord Server" src="https://camo.githubusercontent.com/a52557e3b6648630b7bf1f530c22745e510cbed885cff0c1e11fccb64e9c61da/68747470733a2f2f646973636f72646170702e636f6d2f6170692f6775696c64732f313031333332383638353536343137383437322f7769646765742e706e673f7374796c653d62616e6e657232" />
  </a>

</nord-stack>
