<nord-stack gap="l" class="info-page n-padding-i-l n-padding-b-l">
  <h1>Ship Rentals/Test Drive</h1>
  <p>
    Want to try out one of the ships without printing it on LIVE or going to the PTU? You can by booking a test drive.
    Ships will be loaned out to you for 24 hours for <strong>FREE</strong>, safe zone only.
  </p>
  <nord-banner>Ships are limited so availability may vary. Ships may also not be the current version.</nord-banner>

  <p>To book a ship, please join the EGOTech Discord server.</p>

  <a href="https://discord.gg/BKwVGvncmN">
    <img alt="EGOTech Discord Server" src="https://camo.githubusercontent.com/a52557e3b6648630b7bf1f530c22745e510cbed885cff0c1e11fccb64e9c61da/68747470733a2f2f646973636f72646170702e636f6d2f6170692f6775696c64732f313031333332383638353536343137383437322f7769646765742e706e673f7374796c653d62616e6e657232" />
  </a>
</nord-stack>
