---
pagination:
  data: ships.downloads.current
  size: 1
  alias: download
permalink: "ships/{{ download.ship.slug }}/download/"
title: Starbase Ships by EGOTech
eleventyComputed:
  currentTitle: "Download {{ download.ship.name }}"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url={{ download.url }}" />

    {% set pageTitle = title + ' - ' + currentTitle %}
    <title>{{ pageTitle }}</title>

    <meta property="og:title" content="{{pageTitle}}" />
    {% set photo = download.ship.photos | selectattr('featured') | first %}
    <meta property="og:image" content="{{photo.url}}" />
    <meta property="og:description" content="{{ship.shortDescription}}" />

    {% if environment === 'production' %}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-HK9VCMHC5R"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HK9VCMHC5R');
      </script>
    {% endif %}

    <script src="{{ '/js/qs.js' | url }}"></script>

    <link rel="icon" type="image/png" href="{{ '/images/logos/egotech_logo_dark_favicon.png' | url }}">
  </head>
  <body>
    <p>Downloading {{ download.ship.name }} v{{ download.version }} blueprint...</p>
    <p>Click <a href="{{ download.url }}">here</a> if download does not start.</p>
    <script>
      const { ref } = Qs.parse(Qs.parse(window.location.search.replace(/^\?/, '')));
      if (window.gtag) gtag('event', 'download', { ship: '{{download.ship.name}}', version: '{{download.version}}', download_ref: ref });
    </script>
  </body>
</html>

