---
layout: layouts/base
pagination:
  data: ships.list
  size: 1
  alias: ship
permalink: "ships/{{ ship.slug }}/"
---

<nord-header slot="header">
  <nord-stack direction="horizontal" wrap>
    <nord-button-group>
      <nord-button href="#ship-photos" size="s" variant="default">Photos</nord-button>
      <nord-button href="#description" size="s" variant="default">Features</nord-button>
      {% if ship.videos.length %}
        <nord-button href="#ship-videos" size="s" variant="default">Videos</nord-button>
      {% endif %}
      <nord-button href="#build-cost" size="s" variant="default">Build Cost</nord-button>
      {% if ship.saleType === 'free' %}
        <nord-button href="#download" size="s" variant="primary">Download</nord-button>
      {% else %}
        <nord-button href="#purchase" size="s" variant="primary">Purchase</nord-button>
      {% endif %}
      <nord-button href="#usage" size="s" variant="default">Usage</nord-button>
      {% if ship.knownIssues %}
        <nord-button href="#known-issues" size="s" variant="default">Known Issues</nord-button>
      {% endif %}
      <nord-button href="#faq" size="s" variant="default">FAQ</nord-button>
      <nord-button href="#ship-links" size="s" variant="default">Links</nord-button>
      <nord-button href="#changelog" size="s" variant="default">Changelog</nord-button>
  </nord-button-group>
  </nord-stack>
</nord-header>
<nord-stack id="ship-page" gap="l" class="n-padding-i-l n-padding-b-l">
  <nord-stack>
    <h1 id="ship-name">
      <span class="n-font-size-xxxl">{{ ship.name }}</span>
      {% include 'shipVersion.njk' %}
    </h1>
  </nord-stack>
  {% include 'shipTags.njk' %}
  <nord-stack id="ship-photos" style="max-width: 1200px;">
    <nord-card padding="none">
      <section id="main-carousel" class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            {% for photo in ship.photos %}
              <li class="splide__slide"><img src="{{photo.url}}" alt="{{photo.description or photo.filename}}" /></li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <section id="thumbnail-carousel" class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            {% for photo in ship.photos %}
              <li class="splide__slide"><img src="{{photo.url}}" alt="{{photo.description or photo.filename}}" /></li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <script>
        const main = new Splide('#main-carousel');
        const thumbnails = new Splide('#thumbnail-carousel', {
          fixedWidth: 200,
          gap       : 0,
          rewind    : true,
          pagination: false,
          isNavigation: true,
          breakpoints: {
            600: {
              fixedWidth : 60,
            },
          },
        });

        main.sync( thumbnails );
        main.mount();
        thumbnails.mount();
      </script>
    </nord-card>
  </nord-stack>
  <nord-stack id="description" style="max-width: 1200px;">
    <p>{{ ship.description | nl2br | safe }}</p>
  </nord-stack>
  <nord-stack id="features">
    {% renderFile '../../' + ship.path +'/' + ship.featureList.path %}
  </nord-stack>
  {% if ship.videos.length %}
    <nord-stack id="ship-videos">
      <h1>Videos</h1>
      <nord-stack direction="horizontal">
        {% for video in ship.videos %}
          <nord-card padding="none" style="width: 560px">
            <h1 slot="header">{{video.video.text}}</h1>
            <div style=overflow:hidden;resize:none;max-width:100%;>
              <div id=embed-google-map style="height:100%; width:100%;max-width:100%;">
                <iframe src="{{video.video.url.replace('watch?v=', 'embed/')}}" width=560 height=315 frameborder=0 allowfullscreen> </iframe>
              </div>
            </div>
            <small slot="footer">
              Channel: <a href="{{video.channel.url}}">{{video.channel.text}}</a>
            </small>
          </nord-card>
        {% endfor %}
      </nord-stack>
    </nord-stack>
  {% endif %}
  <nord-stack id="build-cost">
    <h1>Build Cost</h1>
    <nord-stack direction="horizontal">
      <nord-card padding="none" style="width: 400px">
        <h2 slot="header">Material Cost</h2>
        <nord-table density="condensed">
          <table style="width: 400px">
            <thead>
              <tr>
                <th></th>
                <th>Material</th>
                <th class="n-table-align-right">Volume (kv)</th>
                <th class="n-table-align-right">Stacks</th>
              </tr>
            </thead>
            <tbody>
              {% for material in ship.buildCost.materials %}
                <tr class="{% if loop.index === ship.buildCost.materials.length %}n-font-weight-strong n-color-surface-lowered{% endif %}">
                  <td style="padding-right: 0">
                    {% if material.ore !== 'total' %}
                      <div class="material-icon">
                        <img src="{{ ('/images/materials/' + material.ore + '.png') | url }}" alt="{{ material.label }}" />
                      </div>
                    {% endif %}
                  </td>
                  <td>{{material.label}}</td>
                  <td class="n-table-align-right">{{material.kv.toLocaleString()}}</td>
                  <td class="n-table-align-right">{{material.stacks.toLocaleString()}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </nord-table>
      </nord-card>
      <nord-card padding="none" style="width: 400px">
        <h2 slot="header">Credits Cost</h2>
        <nord-table density="condensed">
          <table style="width: 400px">
            <thead>
              <tr>
                <th></th>
                <th class="n-table-align-right">Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Assembly</td>
                <td class="n-table-align-right">{{ship.buildCost.cost.assembly.toLocaleString()}}</td>
              </tr>
              <tr>
                <td>Manufacturing</td>
                <td class="n-table-align-right">{{ship.buildCost.cost.manufacturing.toLocaleString()}}</td>
              </tr>
              <tr class="n-font-weight-strong n-color-surface-lowered">
                <td>Total</td>
                <td class="n-table-align-right">{{ship.buildCost.cost.total.toLocaleString()}}</td>
              </tr>
            </tbody>
          </table>
        </nord-table>
        <nord-banner slot="footer">
          <span style="text-wrap: wrap">
            <strong>TIP:</strong>
            <span>Crafting your own devices, especially crates, generators, thrusters, ship tools and weapons can drastically reduce assembly cost.</span>
          </span>
        </nord-banner>
      </nord-card>
    </nord-stack>
  </nord-stack>
  <nord-stack>
    {% if ship.saleType === 'free' %}
      <h1 id="download">Download Blueprint</h1>
      <nord-button href="{{ship.blueprints[0].url}}" variant="primary" onclick="gaEvent('download', { ship: '{{ship.name}}', version: '{{ship.version}}' })">
        <span slot="start" class="nordicon n-size-icon-m">{{ "/node_modules/@nordhealth/icons/lib/assets/interface-download.svg" | svgContents | safe }}</span>
        Download v{{ship.version}} (current)
      </nord-button>
      <nord-card padding="none" style="width: 400px">
        <h2 slot="header">All Blueprints</h2>
        <nord-table density="condensed" striped>
          <table style="width: 400px">
            <thead>
              <tr>
                <th>Version</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for blueprint in ship.blueprints %}
                <tr>
                  <td>v{{blueprint.version}}</td>
                  <td>
                    {% if loop.index === 1 %}<nord-badge variant="warning">Current</nord-badge>{% endif %}
                    {% if blueprint.shipShop %}<nord-badge>Ship Shop Version</nord-badge>{% endif %}
                  </td>
                  <td class="n-table-align-right">
                    <nord-button size="s" href="{{blueprint.url}}" onclick="gaEvent('download', { ship: '{{ship.name}}', version: '{{blueprint.version}}' })">
                      <span slot="start" class="nordicon n-size-icon-s">{{ "/node_modules/@nordhealth/icons/lib/assets/interface-download.svg" | svgContents | safe }}</span>
                      Download
                    </nord-button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </nord-table>
      </nord-card>
    {% else %}
      <h1 id="purchase">Purchase Blueprint</h1>
      <nord-banner variant="info" style="width: 300px">Price: {{ ship.cost.toLocaleString() }} Credits</nord-banner>
      <p ></p>
      <p>To purchase the blueprint, join the EGOTech Discord Server.</p>
      <a href="https://discord.gg/BKwVGvncmN">
        <img alt="EGOTech Discord Server" src="https://camo.githubusercontent.com/a52557e3b6648630b7bf1f530c22745e510cbed885cff0c1e11fccb64e9c61da/68747470733a2f2f646973636f72646170702e636f6d2f6170692f6775696c64732f313031333332383638353536343137383437322f7769646765742e706e673f7374796c653d62616e6e657232" />
      </a>
    {% endif %}
  </nord-stack>
  <nord-stack id="usage" style="max-width: 1200px;">
    {% renderFile '../../' + ship.path +'/' + ship.usage.path %}
  </nord-stack>
  {% if ship.knownIssues %}
    <nord-stack id="known-issues">
      {% renderFile '../../' + ship.path +'/' + ship.knownIssues.path %}
    </nord-stack>
  {% endif %}
  <nord-stack id="faq">
    {% if ship.faq %}
      {% renderFile '../../' + ship.path +'/' + ship.faq.path %}
    {% else %}
      <h1>Frequently Asked Questions</h1>
    {% endif %}
    <nord-banner style="max-width: 820px;">For more general questions, please check the FAQ <a href="{{ '/pages/faq' | url}}">here</a>.</nord-banner>
  </nord-stack>
  <nord-stack id="ship-links">
    <h1>Links</h1>
    <ul>
      {% for link in ship.links %}
        <li><a href="{{link.url}}">{{link.text}}</a></li>
      {% endfor %}
    </ul>
  </nord-stack>
  <nord-stack id="changelog">
    {% renderFile '../../' + ship.path +'/' + ship.changelog.path %}
  </nord-stack>
</nord-stack>
