---
layout: layouts/base
currentTitle: Not Found
permalink: 404.html
---
<nord-stack class="reset-ship-filters n-padding-i-l n-padding-b-l" style="max-width: 1200px;"">
  <nord-card>
    <nord-empty-state>
      <h2>Not Found</h2>
      <p>Looks like you took a wrong turn.</p>
      <nord-button href="{{ '/' | url }}" variant="primary">Return Home</nord-button>
    </nord-empty-state>
  </nord-card>
</nord-stack>
