---
layout: layouts/base
---
{% renderFile './_includes/assets/js/data.11ty.js', ships %}
<nord-command-menu></nord-command-menu>
<script>
  const menu = document.querySelector("nord-command-menu");
  menu.commands = ships.map((ship) => ({
    id: ship.slug,
    title: ship.name,
    keywords: `${ship.name} ${ship.saleType} ${ship.types.map(({ type }) => shipTypes.byId[type].label).join(' ')} ${ship.tags.map(({ label }) => label).join(' ')}`,
    handler: () => window.location.href = ship.webPath,
  }));
</script>
<nord-header slot="header">
  <nord-stack direction="horizontal" wrap>
    <nord-button-group>
      {% for shipType in ships.types.list %}
        <nord-button href="#{{shipType.id}}" size="s" variant="plain">{{shipType.label}}</nord-button>
      {% endfor %}
      <nord-button id="search" size="s" variant="plain">
        <span slot="start" class="nordicon n-size-icon-m">{{ "/node_modules/@nordhealth/icons/lib/assets/navigation-search.svg" | svgContents | safe }}</span>
      </nord-button>
      <script>
        const button = document.querySelector("#search")
        button.addEventListener("click", () => {
          menu.show()
        })
      </script>
  </nord-button-group>
  </nord-stack>
</nord-header>
<nord-stack gap="l" class="n-padding-i-l n-padding-b-l">
  <nord-stack gap="l" class="n-padding-i-l n-padding-b-l" style="min-width: 900px; width: 900px;">
    <nord-card padding="none">
      <nord-stack direction="horizontal" justify-content="center" align-items="stretch">
        <nord-stack direction="horizontal" justify-content="center" align-items="stretch">
          <img src="{{ 'images/logos/egotech_logo_dark_transparent.png' | url }}" alt="EGOTech Logo" />
        </nord-stack>
        <nord-divider direction="vertical"></nord-divider>
        <nord-stack direction="vertical" align-items="stretch" class="n-padding-i-l n-padding-b-l">
          <h1>EGOTech</h1>
          <p class="n-font-size-l">
            EGOTech thrives to design various types of Starbase ships that are practical but fun to use.
            Free blueprints are available for download with premium versions available for sale for in game credits.
          </p>
          <a href="https://discord.gg/BKwVGvncmN">
            <img alt="EGOTech Discord Server" src="https://camo.githubusercontent.com/a52557e3b6648630b7bf1f530c22745e510cbed885cff0c1e11fccb64e9c61da/68747470733a2f2f646973636f72646170702e636f6d2f6170692f6775696c64732f313031333332383638353536343137383437322f7769646765742e706e673f7374796c653d62616e6e657232" />
          </a>
          <nord-banner variant="info">
            <p class="n-font-size-m">
              <a href="https://www.starbasegame.com/">Starbase</a> is a MMO game developed by <a href="https://www.frozenbyte.com/">Frozenbyte</a>.
            </p>
        </nord-banner>
        </nord-stack>
      </nord-stack>
    </nord-card>
  </nord-stack>
  {% for shipType in ships.types.list %}
    <nord-stack gap="l" class="n-padding-i-l n-padding-b-l">
      <h1 id="{{shipType.id}}">{{shipType.label}}</h1>
      <nord-stack direction="horizontal" wrap>
      {% for ship in ships.byType[shipType.id] %}
        <nord-card padding="none" style="width: 435px;">
          <h1 slot="header">{{ship.name}}</h1>
          <span slot="header-end">
            {% include 'shipVersion.njk' %}
          </span>
          <nord-stack style="width: 435px; height: 220px; overflow: hidden;">
            {% for photo in ship.photos %}
              {% if photo.featured %}
                <img src="{{photo.url}}" alt="{{photo.description or photo.filename}}" />
              {% endif %}
            {% endfor %}
          </nord-stack>
          <nord-stack gap="none">
            {% for feature in ship.features %}
              <nord-stack direction="horizontal" align-items="stretch" class="n-padding-is-m n-padding-b-s n-border-be n-color-surface-raised">
                <nord-stack>{{feature.label}}</nord-stack>
                <nord-stack style="text-align: right;" class="n-padding-ie-m">
                  {% if feature.unit !== undefined %}
                    {{feature.value.toLocaleString()}} {{feature.unit}}
                  {% else %}
                    {{feature.value}}
                  {% endif %}
                </nord-stack>
              </nord-stack>
            {% endfor %}
          </nord-stack>
          <nord-stack class="n-padding-i-m n-padding-b-m">
            <p>{{ ship.shortDescription | nl2br | safe }}</p>
          </nord-stack>
          <div slot="footer">
            {% include 'shipTags.njk' %}
          </div>
          <div slot="footer" class="n-margin-bs-l">
            <nord-stack>
              <nord-button variant="primary" href="{{ ('/ships/' + ship.slug + '/') | url }}" expand>View</nord-button>
            </nord-stack>
          </div>
        </nord-card>
      {% endfor %}
      </nord-stack>
    </nord-stack>
    <nord-divider></nord-divider>
  {% endfor %}
</nord-stack>
