---
layout: layouts/base
---

<nord-header slot="header">
  <nord-stack direction="horizontal" wrap>
    <nord-button-group>
      {% for shipType in ships.types.list %}
        <nord-button href="#{{shipType.id}}" size="s" variant="plain">{{shipType.label}}</nord-button>
      {% endfor %}
  </nord-button-group>
  </nord-stack>
</nord-header>
<nord-stack gap="l" class="n-padding-i-l n-padding-b-l">
  <nord-stack gap="l" class="n-padding-i-l n-padding-b-l">
    <nord-card padding="none" style="margin: 0 auto; max-width: 900px">
      <nord-stack direction="horizontal" justify-content="center" align-items="stretch">
        <nord-stack direction="horizontal" justify-content="center" align-items="stretch">
          <img src="images/logos/egotech_logo_dark_transparent.png" alt="EGOTech Logo" />
        </nord-stack>
        <nord-divider direction="vertical"></nord-divider>
        <nord-stack direction="vertical" align-items="stretch" class="n-padding-i-l n-padding-b-l">
          <h1>EGOTech</h1>
          <p class="n-font-size-l">
            EGOTech thrives to design various types of Starbase ships that are practical but fun to use.
            Free blueprints are available for download with premium versions available for sale for in game credits.
          </p>
          <a cl1ass="n-padding-be-l" href="https://discord.gg/BKwVGvncmN">
            <img alt="EGOTech Discord Server" src="https://camo.githubusercontent.com/a52557e3b6648630b7bf1f530c22745e510cbed885cff0c1e11fccb64e9c61da/68747470733a2f2f646973636f72646170702e636f6d2f6170692f6775696c64732f313031333332383638353536343137383437322f7769646765742e706e673f7374796c653d62616e6e657232" />
          </a>
          <nord-banner variant="info">
            <p class="n-font-size-m">
              <a href="https://www.starbasegame.com/">Starbase</a> is a MMO game developed by <a href="https://www.frozenbyte.com/">Frozenbyte</a>.
            </p>
        </nord-banner>
        </nord-stack>
      </nord-stack>
    </nord-card>
  </nord-stack>
  {% for shipType in ships.types.list %}
    <nord-stack gap="l" class="n-padding-i-l n-padding-b-l">
      <h1 id="{{shipType.id}}">{{shipType.label}}</h1>
      <nord-stack direction="horizontal" wrap>
      {% for ship in ships.byType[shipType.id] %}
        <nord-card padding="m" style="width: 435px">
          <h1 slot="header">{{ship.name}}</h1>
          <span slot="header-end">
            <nord-badge>v{{ship.version}}</nord-badge>
          </span>
          Coming Soon
          <div slot="footer">
            <nord-stack direction="horizontal" wrap>
              {% if ship.saleType === 'free' %}
                <nord-badge variant="success">Free</nord-badge>
              {% else %}
                <nord-badge variant="info">For Sale</nord-badge>
              {% endif %}
            </nord-stack>
          </div>
        </nord-card>
      {% endfor %}
      </nord-stack>
    </nord-stack>
    <nord-divider></nord-divider>
  {% endfor %}
</nord-stack>
