---
layout: layouts/base
pagination:
  data: pages.list
  size: 1
  alias: pg
permalink: "pages/{{ pg.slug }}/"
eleventyComputed:
  currentTitle: "{{ pg.title }}"
---

{% renderFile './_includes/pages/' + pg.slug + '.njk' %}
