---
title: Starbase Ships by EGOTech
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set pageTitle = title + ' - ' + currentTitle %}
    <title>{{ pageTitle }}</title>

    <meta property="og:title" content="{{pageTitle}}" />
    {% if ship %}
      {% set photo = ship.photos | selectattr('featured') | first %}
      <meta property="og:image" content="{{photo.url}}" />
      <meta property="og:description" content="{{ship.shortDescription}}" />
    {% else %}
      <meta property="og:image" content="https://github.com/EGO-Tech/starbase-ships/raw/main/others/egotech/logos/egotech_logo_dark.png" />
      <meta property="og:description" content="EGOTech thrives to design various types of Starbase ships that are practical but fun to use." />
    {% endif %}

    {% if environment === 'production' %}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-HK9VCMHC5R"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HK9VCMHC5R');
      </script>
    {% endif %}

    <link rel="icon" type="image/png" href="{{ '/images/logos/egotech_logo_dark_favicon.png' | url }}">
    <link rel="stylesheet" href="{{ '/css/nord.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/nord-dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fonts/fonts.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/splide.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/custom.css' | url }}">
    <script src="{{ '/js/nord-components.js' | url }}"></script>
    <script src="{{ '/js/splide.min.js' | url }}"></script>
    <script src="{{ '/js/qs.js' | url }}"></script>
    <script src="{{ '/js/fontawesome.min.js' | url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <script>
      const gaEvent = (event, params) => {
        if (window.gtag) gtag('event', event, params);
      }
    </script>
    {% renderFile './_includes/assets/js/ships.11ty.js', ships %}
    {% renderFile './_includes/assets/js/pages.11ty.js', pages %}
  </head>
  <body class="n-reset">
    <nord-command-menu></nord-command-menu>
    <script>
      const menu = document.querySelector("nord-command-menu");
      menu.commands = ships.map((ship) => ({
        id: ship.slug,
        title: ship.name,
        section: 'Ships',
        keywords: `${ship.name} ${ship.saleType} ${ship.types.map(({ type }) => shipTypes.byId[type].label).join(' ')} ${ship.tags.map(({ label }) => label).join(' ')}`,
        handler: () => window.location.href = ship.webPath,
      })).concat(pages.map((page) => ({
        id: page.id,
        title: page.title,
        section: 'Information',
        keywords: `${page.id} ${page.label} ${page.title}`,
        handler: () => window.location.href = page.webPath,
      })));
    </script>
    <nord-layout padding="none" persist-nav-state sticky>
      <nord-navigation slot="nav">
        <nord-stack class="n-padding-be-l">
          <nord-button class="search-button" variant="default" aria-describedby="nav-search" expand>
            <i slot="start" class="fa-solid fa-magnifying-glass"></i>
            <div style="text-align: left;">Search</div>
          </nord-button>
          <nord-tooltip id="nav-search">Shortcut: Ctrl+K</nord-tooltip>
        </nord-stack>
        <nord-nav-group heading="Ships For Sale">
          {% for shipForSale in ships.bySaleType['for-sale'] %}
            <nord-nav-item {% if shipForSale.new %}badge="NEW"{% elseif shipForSale.updated %}badge="UPDATED"{% elseif shipForSale.popular %}badge="POPULAR"{% endif %} {% if shipForSale.slug === ship.slug %}active{% endif %} href="{{ ('/ships/' + shipForSale.slug + '/') | url }}">
              {{shipForSale.name}}
            </nord-nav-item>
          {% endfor %}
        </nord-nav-group>
        <nord-nav-group heading="Free Ships">
          {% for shipFree in ships.bySaleType['free'] %}
            <nord-nav-item {% if shipFree.new %}badge="NEW"{% elseif shipFree.updated %}badge="UPDATED"{% elseif shipFree.popular %}badge="POPULAR"{% endif %} {% if shipFree.slug === ship.slug %}active{% endif %} href="{{ ('/ships/' + shipFree.slug + '/') | url }}">
              {{shipFree.name}}
            </nord-nav-item>
          {% endfor %}
        </nord-nav-group>
        <nord-nav-group heading="Information">
          {% for pge in pages.list %}
            <nord-nav-item {% if pge.id === pg.id %}active{% endif %} href="{{ ('/pages/' + pge.slug + '/') | url }}">
              {{pge.label}}
            </nord-nav-item>
          {% endfor %}
        </nord-nav-group>
      </nord-navigation>
      <nord-header slot="header">
        <nord-stack direction="horizontal" style="min-width: 550px; width: 550px;">
          <a href="{{ '/' | url }}">
            <nord-avatar size="xl" src="{{ '/images/logos/egotech_logo_dark.png' | url }}" name="EGOTech" variant="square">B</nord-avatar>
          </a>
          <h1>Starbase Ships by EGOTech</h1>
        </nord-stack>
      </nord-header>

      {{ content | safe }}

      <nord-footer slot="footer" size="m">
        <nord-stack gap="l">
          <section class="n-grid-2">
            <div>
              <section class="n-grid-2 n-margin-be-xxl">
                <nord-stack gap="s">
                  <nord-stack direction="horizontal" gap="s">
                    EGOTech
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <i class="fa-brands fa-discord fa-xl fa-fw"></i>
                    <a href="https://discord.gg/BKwVGvncmN">Discord</a>
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <i class="fa-brands fa-github fa-xl fa-fw"></i>
                    <a href="https://github.com/EGO-Tech/starbase-ships">GitHub</a>
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <i class="fa-brands fa-youtube fa-xl fa-fw"></i>
                    <a href="https://www.youtube.com/@ego-tech">YouTube</a>
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <i class="fa-brands fa-creative-commons-nc fa-xl fa-fw"></i>
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License</a>
                  </nord-stack>
                </nord-stack>
                <nord-stack gap="s">
                  <nord-stack direction="horizontal" gap="s">
                    Starbase Game
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Starbase</a>
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Frozenbyte</a>
                  </nord-stack>
                </nord-stack>
              </section>
            </div>
            <div>
              <p>Copyright <i class="fa-regular fa-copyright"></i> {{year}} Vincent Teo</p>
              <p>Built with <a href="https://www.11ty.dev/">11ty</a> and <a href="https://nordhealth.design/">Nord.</a></p>
            </div>
          </section>
        </nord-stack>
      </nord-footer>
    </nord-layout>
    <script>
      document.querySelectorAll('.search-button')
        .forEach((button) =>
          button.addEventListener("click", () => {
            menu.show();
          })
        );
    </script>
  </body>
</html>
