---
title: Starbase Ships by EGOTech
currentTitle: Home
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ ship.name if ship else currentTitle }}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HK9VCMHC5R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HK9VCMHC5R');
    </script>

    <link rel="icon" type="image/png" href="{{ '/images/logos/egotech_logo_dark_favicon.png' | url }}">
    <link rel="stylesheet" href="{{ '/css/nord.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/nord-dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fonts/fonts.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/splide.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/custom.css' | url }}">
    <script src="{{ '/js/nord-components.js' | url }}"></script>
    <script src="{{ '/js/splide.min.js' | url }}"></script>
    <script>
      const gaEvent = (event, params) => {
        gtag('event', event, params);
      }
    </script>
  </head>
  <body class="n-reset">
    <nord-layout padding="none" persist-nav-state sticky>
      <nord-navigation slot="nav">
        <nord-nav-group heading="Ships For Sale">
          {% for shipForSale in ships.bySaleType['for-sale'] %}
            <nord-nav-item {% if shipForSale.new %}badge="NEW"{% endif %} {% if shipForSale.slug === ship.slug %}active{% endif %} href="{{ ('/ships/' + shipForSale.slug + '/') | url }}">
              {{shipForSale.name}}
            </nord-nav-item>
          {% endfor %}
        </nord-nav-group>
        <nord-nav-group heading="Free Ships">
          {% for shipFree in ships.bySaleType['free'] %}
            <nord-nav-item {% if shipFree.new %}badge="NEW"{% endif %} {% if shipFree.slug === ship.slug %}active{% endif %} href="{{ ('/ships/' + shipFree.slug + '/') | url }}">
              {{shipFree.name}}
            </nord-nav-item>
          {% endfor %}
        </nord-nav-group>
        <nord-nav-group heading="Information">
          <nord-nav-item {% if current === 'commissions' %}active{% endif %} href="{{ '/pages/commissions' | url }}">
            Ship Commissions
          </nord-nav-item>
          <nord-nav-item {% if current === 'rentals' %}active{% endif %} href="{{ '/pages/rentals' | url }}">
            Ship Rentals
          </nord-nav-item>
          <nord-nav-item {% if current === 'faq' %}active{% endif %} href="{{ '/pages/faq' | url }}">
            FAQ
          </nord-nav-item>
        </nord-nav-group>
      </nord-navigation>
      <nord-header slot="header">
        <nord-stack direction="horizontal" style="min-width: 550px; width: 550px;">
          <a href="{{ '/' | url }}">
            <nord-avatar size="xl" src="{{ '/images/logos/egotech_logo_dark.png' | url }}" name="EGOTech" variant="square">B</nord-avatar>
          </a>
          <h1>Starbase Ships by EGOTech</h1>
        </nord-stack>
      </nord-header>

      {{ content | safe }}

      <nord-footer slot="footer" size="m">
        <nord-stack gap="l">
          <section class="n-grid-2">
            <div>
              <section class="n-grid-2 n-margin-be-xxl">
                <nord-stack gap="s">
                  <nord-stack direction="horizontal" gap="s">
                    EGOTech
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <span class="nordicon n-size-icon-l">{{ "/node_modules/@nordhealth/icons/lib/assets/interface-chat.svg" | svgContents | safe }}</span>
                    <a href="https://discord.gg/BKwVGvncmN">Discord</a>
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <span class="nordicon n-size-icon-l">{{ "/node_modules/@nordhealth/icons/lib/assets/generic-github.svg" | svgContents | safe }}</span>
                    <a href="https://github.com/EGO-Tech/starbase-ships">GitHub</a>
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <span class="nordicon n-size-icon-l">{{ "/node_modules/@nordhealth/icons/lib/assets/file-invoice.svg" | svgContents | safe }}</span>
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License</a>
                  </nord-stack>
                </nord-stack>
                <nord-stack gap="s">
                  <nord-stack direction="horizontal" gap="s">
                    Starbase Game
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Starbase</a>
                  </nord-stack>
                  <nord-stack direction="horizontal" gap="s">
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Frozenbyte</a>
                  </nord-stack>
                </nord-stack>
              </section>
            </div>
            <div>
              <p>Copyright &copy; {{year}} Vincent Teo</p>
              <p>Built with <a href="https://www.11ty.dev/">11ty</a> and <a href="https://nordhealth.design/">Nord.</a></p>
            </div>
          </section>
        </nord-stack>
      </nord-footer>
    </nord-layout>
  </body>
</html>
