.hide {
  display: none;
}

#usage nord-table,
nord-stack.info-page {
  max-width: 1200px;
}

#features,
#faq {
  nord-table {
    max-width: 500px;
  }
}

#ship-page,
#features,
#usage {
  nord-banner {
    max-width: 820px;
  }
}

nord-stack#ship-page h1:not(#ship-name, [slot="header"]) {
  padding-top: 60px;
}

#changelog,
#features,
#known-issues,
#ship-links,
#usage {
  ul li {
    margin-left: 40px;
  }
}

#usage nord-table td {
  white-space: normal;
}

.material-icon {
  overflow: hidden;
  width: 20px;
  height: 24px;

  img {
    max-inline-size: none;
    height: 24px;
  }
}

/* stylelint-disable selector-class-pattern */
.splide__slide img {
  width: 100%;
  height: auto;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}
/* stylelint-enable selector-class-pattern */
